h1,
h2 {
  text-align: center;
}
.container {
  display: flex;
}

.itemPic {
  border-radius: 50%;
  margin: 0 2rem 0 0;
  max-width: 4rem;
  max-height: 4rem;
}

.row {
  width: 100%;
}

p {
  display: inline;
}
#checkOut {
  margin: auto;
  text-align: center;
}

#status {
  text-align: center;
}

.btn-primary {
  margin: 0 0 1rem 0;
  max-width: 15rem;
}
